<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jt.sys.dao.SysMenuDao">
    <!-- 默认开启的一级缓存是SqlSession级别，只能在同一次请求中缓存数据 -->
    <!-- 开启二级缓存 SqlSessionFactory级别 ，可以在全局缓存数据-->
    <!-- 所有insert、delete、update操作commit后清空缓存 -->
    <cache readOnly="true"/>

    <select id="findObjects" resultType="map">
        <!-- 方案一 -->
        <!--select
          a.*,
          b.name parentName
        from jt_sys.sys_menus a
        left join jt_sys.sys_menus b on a.parentId = b.id*/ -->

        <!-- 方案二 -->
        select c.*,(select p.name
                    from jt_sys.sys_menus p
                    where c.parentId = p.id) parentName
        from jt_sys.sys_menus c
    </select>

    <!-- 根据ID判断是否有子菜单 -->
    <select id="getChileCount" resultType="int">
        select count(id)
        from jt_sys.sys_menus
        where parentId = #{menuId}
    </select>

    <!-- 根据ID删除一个菜单 -->
    <delete id="deleteObject">
        delete from jt_sys.sys_menus
        where id = #{menuId}
    </delete>

    <!-- 基于dao中方法定义查询元素 -->
    <select id="findZtreeMenuNodes" resultType="node">
        select id,name,parentId
        from jt_sys.sys_menus
    </select>

    <!-- 插入一个菜单 -->
    <insert id="insertObject" parameterType="sysMenu">
        insert into jt_sys.sys_menus
        (name, url, type, sort, note, parentId, permission,
        createdTime, modifiedTime, createdUser, modifiedUser)
        values (#{name},#{url},#{type},#{sort},#{note},#{parentId},#{permission},
        now(),now(),#{createdUser},#{modifiedUser})
    </insert>

</mapper>