<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jt.sys.dao.SysRoleMenuDao">
    <!-- 默认开启的一级缓存是SqlSession级别，只能在同一次请求中缓存数据 -->
    <!-- 开启二级缓存 SqlSessionFactory级别 ，可以在全局缓存数据-->
    <!-- 所有insert、delete、update操作commit后清空缓存 -->
    <cache readOnly="true"/>

    <!-- 根据菜单id删除数据 -->
    <delete id="deleteObjectsByMenuId">
        delete from jt_sys.sys_role_menus
        where menu_id = #{menuId}
    </delete>

    <!-- 根据角色id删除数据 -->
    <delete id="deleteObjectsByRoleId">
        delete from jt_sys.sys_role_menus
        where role_id = #{roleId}
    </delete>

    <!-- 根据角色id插入多个关系数据 -->
    <insert id="insertObjectsByRoleId">
        insert into jt_sys.sys_role_menus
        values
        <foreach collection="menuIds" item="menuId" separator=",">
            (null,#{roleId},#{menuId})
        </foreach>
    </insert>

    <!-- 根据角色id查找对应的菜单id -->
    <select id="findRoleMenu" resultType="int">
        select menu_id
        from jt_sys.sys_role_menus
        where role_id = #{roleId}
    </select>
</mapper>